#message {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right:3em;
    margin:1em;
    background-color:rgb(173, 183, 183);
    box-shadow: 0px 0px 10px rgb(41, 45, 48);
    border-radius:10px;
}

#message-title {
    text-shadow: 0px 0px 5px white;
}

#message-text {
    font-family: "Fira Code";
    font-size: large;
}