#main {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    margin:1em;
    background-color:rgb(173, 183, 183);
    box-shadow: 0px 0px 10px rgb(41, 45, 48);
    border-radius:10px;
}

#column-container {
    width: 100%;
    margin-bottom: 0em;
    height: 100%;
}

pre {
    font-family: "Fira Code";
    font-size: large;
}

h1 {
    text-shadow: 0px 0px 5px white;
}


