<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Fira code font download -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
    
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/style/main.css">
  <title>Hazels abode</title>
</head>

<body>
<div id="column-container">
<h1></h1>
<!-- Above h1 are for spacing -->

<!-- Include the Navbar on each page -->
{% if user %}
{% include "partials/navbar.html" %}
{% endif %} 

<!-- Optionally display the flash messages -->
{% for message in get_flashed_messages() %}
<div class="flash">{{message}}</div>
{% endfor %}

<!-- Facilitate a location for the 'main' content -->
{% block content %}{% endblock %}
</div>
</body>
</html>